---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15otUBHKQF0Nl4V6P32npDqY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15otUBHKQF0Nl4V6P32npDqY",
          "created": 1428400751,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15otUBHKQF0Nl4V63YD9IWT6",
              "object": "charge",
              "created": 1428400751,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "gbp",
              "refunded": false,
              "source": {
                "id": "card_15otU9HKQF0Nl4V6RmxN2794",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "6lWhPIX7MfuqxkVU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_60vKaWIn4BUzXr"
              },
              "captured": true,
              "balance_transaction": "txn_15otUBHKQF0Nl4V6IJkAxQVS",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_60vKaWIn4BUzXr",
              "invoice": "in_15otUBHKQF0Nl4V6gKSsP6BO",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15otUBHKQF0Nl4V63YD9IWT6/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_60vKtXvoFmgoxA",
          "api_version": "2015-03-24"
        }
  recorded_at: Wed, 08 Apr 2015 10:22:41 GMT
recorded_with: VCR 2.9.3
