---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15pGKOHKQF0Nl4V6Cbju6JKo&plan=myflix&email=test%40test.com
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 08 Apr 2015 10:22:38 GMT
recorded_with: VCR 2.9.3
