---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15owftHKQF0Nl4V6HdcyiYul&plan=myflix&email=test%40test.com
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428413010,
          "id": "cus_60ydJO6rIBN7iZ",
          "livemode": false,
          "description": null,
          "email": "test@test.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_60ydJO6rIBN7iZ/subscriptions",
            "data": [
              {
                "id": "sub_60ydnCUJeW8Uq0",
                "plan": {
                  "interval": "month",
                  "name": "MyFLiX Subscription",
                  "created": 1428394933,
                  "amount": 999,
                  "currency": "gbp",
                  "id": "myflix",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428413010,
                "status": "active",
                "customer": "cus_60ydJO6rIBN7iZ",
                "cancel_at_period_end": false,
                "current_period_start": 1428413010,
                "current_period_end": 1431005010,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "gbp",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_60ydJO6rIBN7iZ/sources",
            "data": [
              {
                "id": "card_15owftHKQF0Nl4V6MopBesMN",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "6lWhPIX7MfuqxkVU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_60ydJO6rIBN7iZ"
              }
            ]
          },
          "default_source": "card_15owftHKQF0Nl4V6MopBesMN"
        }
  recorded_at: Tue, 07 Apr 2015 13:23:30 GMT
recorded_with: VCR 2.9.3
