---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15m7krHKQF0Nl4V6ZeYKJPol",
          "livemode": false,
          "created": 1427740617,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15m7krHKQF0Nl4V60HWc7Sv6",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "R6HJnweVgGBOC9Id",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "87.246.78.46"
        }
  recorded_at: Mon, 30 Mar 2015 18:36:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=gbp&source=tok_15m7krHKQF0Nl4V6ZeYKJPol&description=Charge%20for%20knoxjeffrey%40outlook.com
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15m7krHKQF0Nl4V6LqLCCJg0"
          }
        }
  recorded_at: Mon, 30 Mar 2015 18:36:57 GMT
recorded_with: VCR 2.9.3
