---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15nyFOHKQF0Nl4V62uNDrWie",
          "livemode": false,
          "created": 1428180726,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15nyFOHKQF0Nl4V6aH1q7UV8",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "6lWhPIX7MfuqxkVU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "82.11.6.72"
        }
  recorded_at: Sat, 04 Apr 2015 20:52:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=gbp&source=tok_15nyFOHKQF0Nl4V62uNDrWie&description=Charge%20for%20knoxjeffrey%40outlook.com
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15nyFPHKQF0Nl4V6IQhiTs83",
          "object": "charge",
          "created": 1428180727,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "gbp",
          "refunded": false,
          "source": {
            "id": "card_15nyFOHKQF0Nl4V6aH1q7UV8",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "6lWhPIX7MfuqxkVU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15nyFPHKQF0Nl4V6LjjQ5veL",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Charge for knoxjeffrey@outlook.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15nyFPHKQF0Nl4V6IQhiTs83/refunds",
            "data": []
          }
        }
  recorded_at: Sat, 04 Apr 2015 20:52:07 GMT
recorded_with: VCR 2.9.3
