---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15pF2nHKQF0Nl4V6p6hZA7oS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15pF2nHKQF0Nl4V6p6hZA7oS",
          "created": 1428483621,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15pF2nHKQF0Nl4V66gthOpky",
              "object": "charge",
              "created": 1428483621,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "gbp",
              "refunded": false,
              "source": {
                "id": "card_15pF1gHKQF0Nl4V6CMT7I7Jd",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2016,
                "fingerprint": "28HCaSm99cD0Xpct",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_60zoM8D3o61YcN"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_60zoM8D3o61YcN",
              "invoice": null,
              "description": "this will fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15pF2nHKQF0Nl4V66gthOpky/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_61HcD5FWrkFtxL",
          "api_version": "2015-03-24"
        }
  recorded_at: Wed, 08 Apr 2015 22:15:22 GMT
recorded_with: VCR 2.9.3
