!!! 5
%html(lang="en-US")
  %body
    %p
      Welcome to my application #{ @user.full_name }!
    %p
      We hope you enjoy using our application.  Make sure to follow other users to get new ideas for videos to watch!