---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15pGK7HKQF0Nl4V6TukJdoWz",
          "livemode": false,
          "created": 1428488539,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15pGK7HKQF0Nl4V62ZOYV0GA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "6lWhPIX7MfuqxkVU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "87.246.78.46"
        }
  recorded_at: Wed, 08 Apr 2015 10:22:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15pGK7HKQF0Nl4V6TukJdoWz&plan=myflix&email=knoxjeffrey%40outlook.com
    headers:
      Authorization:
      - Bearer sk_test_r1VytI1A2tAfp0v8OJYTXwKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428488539,
          "id": "cus_61Ivt0reb5fAez",
          "livemode": false,
          "description": null,
          "email": "knoxjeffrey@outlook.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_61Ivt0reb5fAez/subscriptions",
            "data": [
              {
                "id": "sub_61Iv2AmNOShaTn",
                "plan": {
                  "interval": "month",
                  "name": "MyFLiX Subscription",
                  "created": 1428394933,
                  "amount": 999,
                  "currency": "gbp",
                  "id": "myflix",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428488539,
                "status": "active",
                "customer": "cus_61Ivt0reb5fAez",
                "cancel_at_period_end": false,
                "current_period_start": 1428488539,
                "current_period_end": 1431080539,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "gbp",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_61Ivt0reb5fAez/sources",
            "data": [
              {
                "id": "card_15pGK7HKQF0Nl4V62ZOYV0GA",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "6lWhPIX7MfuqxkVU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_61Ivt0reb5fAez"
              }
            ]
          },
          "default_source": "card_15pGK7HKQF0Nl4V62ZOYV0GA"
        }
  recorded_at: Wed, 08 Apr 2015 10:22:21 GMT
recorded_with: VCR 2.9.3
